@layout NoAuthLayout
@page "/error-404"
  <!-- Content -->
      <div class="p-5 text-center">
         <img src="img/404.svg" class="img-fluid col-md-4" alt="osahan">
         <div class="text-center pb-5">
            <h2 class="fw-bold text-black mt-4">Oh no! Kesasar nih, bang?</h2>
            <p class="mb-4">Kamu mau kemana sih ? sini ke hati aku aja ;P</p>
            <a href="index" class="btn btn-primary rounded-pill py-3 px-4 shadow-sm">
            <span class="px-3">
            kembali ke timeline
            </span>
            </a>
         </div>
      </div>
@code {

}
