<aside class="col col-xl-3 order-xl-3 col-lg-6 order-lg-3 col-md-6 col-sm-6 col-12">
    <div class="fix-sidebar">
        <div class="side-trend lg-none">
            <!-- Search Tab -->
            <div class="sticky-sidebar2 mb-3">
                <SearchBoxPage></SearchBoxPage>
                <WhatHappeningPage></WhatHappeningPage>
                <WhoToFollowPage></WhoToFollowPage>
            </div>
        </div>
    </div>
</aside>
@code {

}
